USE [DB_ERISK]
GO
/****** Object:  Table [dbo].[T_ACTION]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ACTION](
	[ACTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[REALISATEUR] [nvarchar](255) NOT NULL,
	[ACTION_TYPE] [nvarchar](255) NOT NULL,
	[DS_STATUS] [bit] NOT NULL,
	[ISDONE] [bit] NOT NULL,
	[ACTION_DATE_DEADLINE] [datetime] NOT NULL,
	[ACTION_DATE_CREATED] [datetime] NOT NULL,
	[ACTION_DATE_CLOSED] [datetime] NULL,
	[DS_ID] [int] NULL,
	[ACTION_DESC] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_b04d42414eaeef1fbeb4a1e6d10] PRIMARY KEY CLUSTERED 
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ACTIVITY]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ACTIVITY](
	[ACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACT_NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_de98ec70bc5b8d548fdc4ab7074] PRIMARY KEY CLUSTERED 
(
	[ACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_AREA]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_AREA](
	[AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_NAME] [nvarchar](255) NOT NULL,
	[DIV_ID] [int] NULL,
	[AREA_STATUT] [bit] NOT NULL,
	[SAFETYCORNER_ID] [int] NULL,
 CONSTRAINT [PK_313b19a3e2848e9b78b5206be61] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_COMMENT_SUGG]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COMMENT_SUGG](
	[ACTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[VALIDATION_DESC] [nvarchar](255) NOT NULL,
	[REALIZATION_DESC] [nvarchar](255) NOT NULL,
	[ACTSUGG_DATE] [datetime] NOT NULL,
	[SUGG_ID] [int] NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_de33cf33e7c2719ca59a73dea83] PRIMARY KEY CLUSTERED 
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_CONTRIBUTION_TYPE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CONTRIBUTION_TYPE](
	[CONT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_2baad52e28dc0f5413a276950d7] PRIMARY KEY CLUSTERED 
(
	[CONT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DIVISION]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DIVISION](
	[DIV_ID] [int] IDENTITY(1,1) NOT NULL,
	[DIV_NAME] [nvarchar](255) NOT NULL,
	[ACT_ID] [int] NULL,
 CONSTRAINT [PK_543fffca5ecd8e275705f2b3711] PRIMARY KEY CLUSTERED 
(
	[DIV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DS_CAUSE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DS_CAUSE](
	[CAUSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUSE_NAME] [nvarchar](255) NOT NULL,
	[CAUSE_STATUT] [bit] NOT NULL,
	[TYPE_ID] [int] NULL,
 CONSTRAINT [PK_b6889580148eda8255a92c05b7f] PRIMARY KEY CLUSTERED 
(
	[CAUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DS_DECLARATION]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DS_DECLARATION](
	[DS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOTE] [int] NULL,
	[TYPE_ID] [int] NULL,
	[AREA_ID] [int] NULL,
	[INCIDENT_ID] [int] NULL,
	[DS_DATE] [datetime] NOT NULL,
	[MACHINE_TYPE_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[STOP_CARD] [bit] NOT NULL,
	[MACHINE_NUMBER] [nvarchar](255) NULL,
	[ILOT_ID] [int] NULL,
	[DS_ESTIMATION_DATE] [datetime] NULL,
	[DS_END_DATE] [datetime] NULL,
	[DS_STATUS] [int] NULL,
	[DS_DESC] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_43135851c0199f70e73c29439ab] PRIMARY KEY CLUSTERED 
(
	[DS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DS_STATUS]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DS_STATUS](
	[DS_STATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[DS_STATUS_NAME] [nvarchar](255) NOT NULL,
	[DS_STATUS_VALUE] [int] NULL,
 CONSTRAINT [PK_9b1c6fcaeb2b8b760e63b2414e3] PRIMARY KEY CLUSTERED 
(
	[DS_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DS_TYPE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DS_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_3aa3257694e855e53910871e854] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ILOT]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ILOT](
	[ILOT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ILOT_NAME] [nvarchar](255) NOT NULL,
	[AREA_ID] [int] NULL,
	[ILOT_STATUT] [bit] NULL,
 CONSTRAINT [PK_613d07636f90ece618db7270345] PRIMARY KEY CLUSTERED 
(
	[ILOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_INCIDENT_TYPE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_INCIDENT_TYPE](
	[INCIDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_5231ac5bc59ef5b30c00e181b83] PRIMARY KEY CLUSTERED 
(
	[INCIDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MACHINE_TYPE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MACHINE_TYPE](
	[MACHINE_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MACHINE_TYPE_NAME] [nvarchar](255) NOT NULL,
	[MACHINE_TYPE_STATUT] [bit] NOT NULL,
 CONSTRAINT [PK_8fdb45a3b403e570960c0d78df5] PRIMARY KEY CLUSTERED 
(
	[MACHINE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PICTURE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PICTURE](
	[PICTURE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DS_ID] [int] NULL,
	[PICTURE_NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_8e1b379ce2e60f44df17c631ac4] PRIMARY KEY CLUSTERED 
(
	[PICTURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ROLE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](255) NOT NULL,
	[ROLE_DESC] [nvarchar](255) NULL,
 CONSTRAINT [PK_0f16818aa370f2c5a960d474da8] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_RULES_QNN]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RULES_QNN](
	[RULES_ID] [int] IDENTITY(1,1) NOT NULL,
	[RULES_DESC] [nvarchar](255) NOT NULL,
	[DS_TYPE_ID] [int] NULL,
	[RULES_STATUT] [bit] NULL,
 CONSTRAINT [PK_1570cb989aedccb2fbc056daf4a] PRIMARY KEY CLUSTERED 
(
	[RULES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SAFETYCORNER]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SAFETYCORNER](
	[SAFETYCORNER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SAFETYCORNER_NAME] [nvarchar](255) NOT NULL,
	[SAFETYCORNER_STATUT] [bit] NOT NULL,
 CONSTRAINT [PK_54e0700ee06aba954f30020a0e1] PRIMARY KEY CLUSTERED 
(
	[SAFETYCORNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SERVICE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SERVICE](
	[SERVICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_NAME] [nvarchar](255) NOT NULL,
	[DIV_ID] [int] NULL,
 CONSTRAINT [PK_f3995005a1a56b0c519ded96ceb] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SUGGESTION]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SUGGESTION](
	[SUGG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROB_DESC] [nvarchar](255) NOT NULL,
	[PROB_REASON] [nvarchar](255) NOT NULL,
	[PROB_SOLUTION] [nvarchar](255) NOT NULL,
	[NOTE] [int] NOT NULL,
	[ISVALID] [bit] NOT NULL,
	[ISREALIZED] [bit] NOT NULL,
	[SUGG_DATE_TIME] [datetime] NOT NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_d9901f01052e17cbd93ea0c4404] PRIMARY KEY CLUSTERED 
(
	[SUGG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_USER]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[MATRICULE] [nvarchar](255) NOT NULL,
	[MOx] [nvarchar](255) NULL,
	[USER_STATUT] [bit] NOT NULL,
	[SERVICE_ID] [int] NULL,
	[NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_269eabe598d195a73d2f407ac3a] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJ_DS_CAUSES]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_DS_CAUSES](
	[tDSCAUSECAUSEID] [int] NOT NULL,
	[tDSDECLARATIONDSID] [int] NOT NULL,
 CONSTRAINT [PK_f6b942675b1d97f0681a4aa4ba4] PRIMARY KEY CLUSTERED 
(
	[tDSCAUSECAUSEID] ASC,
	[tDSDECLARATIONDSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJ_DS_RULES]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_DS_RULES](
	[tRULESQNNRULESID] [int] NOT NULL,
	[tDSDECLARATIONDSID] [int] NOT NULL,
 CONSTRAINT [PK_42eb02b66febee2b40a8f4dadb6] PRIMARY KEY CLUSTERED 
(
	[tRULESQNNRULESID] ASC,
	[tDSDECLARATIONDSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJ_ILOT_TYPEMACHINE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_ILOT_TYPEMACHINE](
	[tILOTILOTID] [int] NOT NULL,
	[tMACHINETYPEMACHINETYPEID] [int] NOT NULL,
 CONSTRAINT [PK_1c0f56790bec043db7b088e6a34] PRIMARY KEY CLUSTERED 
(
	[tILOTILOTID] ASC,
	[tMACHINETYPEMACHINETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJ_SUGG_TYPE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_SUGG_TYPE](
	[tCONTRIBUTIONTYPECONTID] [int] NOT NULL,
	[tSUGGESTIONSUGGID] [int] NOT NULL,
 CONSTRAINT [PK_8aabd1fe5132788d7334932991a] PRIMARY KEY CLUSTERED 
(
	[tCONTRIBUTIONTYPECONTID] ASC,
	[tSUGGESTIONSUGGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJ_USER_AREA]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_USER_AREA](
	[tAREAAREAID] [int] NOT NULL,
	[tUSERUSERID] [int] NOT NULL,
 CONSTRAINT [PK_b744a159ad3c4ede254cc87afab] PRIMARY KEY CLUSTERED 
(
	[tAREAAREAID] ASC,
	[tUSERUSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJ_USER_ROLE]    Script Date: 03/06/2022 10:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_USER_ROLE](
	[tROLEROLEID] [int] NOT NULL,
	[tUSERUSERID] [int] NOT NULL,
 CONSTRAINT [PK_68e1a0c8dca606f6f6111d95415] PRIMARY KEY CLUSTERED 
(
	[tROLEROLEID] ASC,
	[tUSERUSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_ACTION] ON 

INSERT [dbo].[T_ACTION] ([ACTION_ID], [REALISATEUR], [ACTION_TYPE], [DS_STATUS], [ISDONE], [ACTION_DATE_DEADLINE], [ACTION_DATE_CREATED], [ACTION_DATE_CLOSED], [DS_ID], [ACTION_DESC]) VALUES (11, N'Mohamed Yassine Hemrit', N'protection', 1, 1, CAST(N'2022-04-24T01:00:00.000' AS DateTime), CAST(N'2022-04-18T12:52:28.857' AS DateTime), CAST(N'2022-04-26T15:49:18.000' AS DateTime), 153, N'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
INSERT [dbo].[T_ACTION] ([ACTION_ID], [REALISATEUR], [ACTION_TYPE], [DS_STATUS], [ISDONE], [ACTION_DATE_DEADLINE], [ACTION_DATE_CREATED], [ACTION_DATE_CLOSED], [DS_ID], [ACTION_DESC]) VALUES (12, N'ss', N'protection', 1, 1, CAST(N'2022-04-16T01:00:00.000' AS DateTime), CAST(N'2022-04-18T12:57:33.047' AS DateTime), CAST(N'2022-04-19T10:59:46.000' AS DateTime), 153, N'Copyright (C) Microsoft Corporation. Tous droits réservés.')
GO
SET IDENTITY_INSERT [dbo].[T_ACTION] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ACTIVITY] ON 

INSERT [dbo].[T_ACTIVITY] ([ACT_ID], [ACT_NAME]) VALUES (1, N'FMS')
INSERT [dbo].[T_ACTIVITY] ([ACT_ID], [ACT_NAME]) VALUES (2, N'ADI')
SET IDENTITY_INSERT [dbo].[T_ACTIVITY] OFF
GO
SET IDENTITY_INSERT [dbo].[T_AREA] ON 

INSERT [dbo].[T_AREA] ([AREA_ID], [AREA_NAME], [DIV_ID], [AREA_STATUT], [SAFETYCORNER_ID]) VALUES (1, N'UAP A1', 4, 1, NULL)
INSERT [dbo].[T_AREA] ([AREA_ID], [AREA_NAME], [DIV_ID], [AREA_STATUT], [SAFETYCORNER_ID]) VALUES (2, N'UAP A2', 4, 0, NULL)
INSERT [dbo].[T_AREA] ([AREA_ID], [AREA_NAME], [DIV_ID], [AREA_STATUT], [SAFETYCORNER_ID]) VALUES (3, N'UAP A3', 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[T_AREA] OFF
GO
SET IDENTITY_INSERT [dbo].[T_DIVISION] ON 

INSERT [dbo].[T_DIVISION] ([DIV_ID], [DIV_NAME], [ACT_ID]) VALUES (4, N'PSO', 1)
INSERT [dbo].[T_DIVISION] ([DIV_ID], [DIV_NAME], [ACT_ID]) VALUES (5, N'RSO', 1)
INSERT [dbo].[T_DIVISION] ([DIV_ID], [DIV_NAME], [ACT_ID]) VALUES (6, N'ADI', 2)
SET IDENTITY_INSERT [dbo].[T_DIVISION] OFF
GO
SET IDENTITY_INSERT [dbo].[T_DS_CAUSE] ON 

INSERT [dbo].[T_DS_CAUSE] ([CAUSE_ID], [CAUSE_NAME], [CAUSE_STATUT], [TYPE_ID]) VALUES (1, N'Méthode : Pas de procedure definissant le mode operatoire, pas de plan de contrôle , pas d''instruction…', 1, 2)
INSERT [dbo].[T_DS_CAUSE] ([CAUSE_ID], [CAUSE_NAME], [CAUSE_STATUT], [TYPE_ID]) VALUES (2, N'Matériel : Machine en panne, machine/outillage en nombre insuffisant, inadaptée, obsolète, outillage défectueux', 1, 2)
INSERT [dbo].[T_DS_CAUSE] ([CAUSE_ID], [CAUSE_NAME], [CAUSE_STATUT], [TYPE_ID]) VALUES (3, N'Main d''oeuvre : Personnel peu compétent, mal formé, non motivé, en nombre insuffisant', 1, 2)
GO
SET IDENTITY_INSERT [dbo].[T_DS_CAUSE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_DS_DECLARATION] ON 

INSERT [dbo].[T_DS_DECLARATION] ([DS_ID], [NOTE], [TYPE_ID], [AREA_ID], [INCIDENT_ID], [DS_DATE], [MACHINE_TYPE_ID], [USER_ID], [STOP_CARD], [MACHINE_NUMBER], [ILOT_ID], [DS_ESTIMATION_DATE], [DS_END_DATE], [DS_STATUS], [DS_DESC]) VALUES (153, 5, 2, 8, 2, CAST(N'2022-04-12T08:22:56.657' AS DateTime), NULL, 1020, 1, NULL, NULL, CAST(N'2022-04-09T01:00:00.000' AS DateTime), NULL, 5, N'gergreqhreheee')
INSERT [dbo].[T_DS_DECLARATION] ([DS_ID], [NOTE], [TYPE_ID], [AREA_ID], [INCIDENT_ID], [DS_DATE], [MACHINE_TYPE_ID], [USER_ID], [STOP_CARD], [MACHINE_NUMBER], [ILOT_ID], [DS_ESTIMATION_DATE], [DS_END_DATE], [DS_STATUS], [DS_DESC]) VALUES (154, 7, 3, 1, 3, CAST(N'2022-04-12T08:27:29.240' AS DateTime), NULL, 11, 0, NULL, NULL, CAST(N'2022-04-23T01:00:00.000' AS DateTime), NULL, 5, N'5tythju #154')
GO
SET IDENTITY_INSERT [dbo].[T_DS_DECLARATION] OFF
GO
SET IDENTITY_INSERT [dbo].[T_DS_STATUS] ON 

INSERT [dbo].[T_DS_STATUS] ([DS_STATUS_ID], [DS_STATUS_NAME], [DS_STATUS_VALUE]) VALUES (1, N'CREATED', NULL)
INSERT [dbo].[T_DS_STATUS] ([DS_STATUS_ID], [DS_STATUS_NAME], [DS_STATUS_VALUE]) VALUES (2, N'VALID', 1)
INSERT [dbo].[T_DS_STATUS] ([DS_STATUS_ID], [DS_STATUS_NAME], [DS_STATUS_VALUE]) VALUES (3, N'PROTECTED', 2)
SET IDENTITY_INSERT [dbo].[T_DS_STATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[T_DS_TYPE] ON 

INSERT [dbo].[T_DS_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (2, N'QUALITY')
INSERT [dbo].[T_DS_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (3, N'SAFETY')
INSERT [dbo].[T_DS_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (4, N'ENVIRONMENT')
SET IDENTITY_INSERT [dbo].[T_DS_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ILOT] ON 

INSERT [dbo].[T_ILOT] ([ILOT_ID], [ILOT_NAME], [AREA_ID], [ILOT_STATUT]) VALUES (78, N'G Four', 1, 1)
INSERT [dbo].[T_ILOT] ([ILOT_ID], [ILOT_NAME], [AREA_ID], [ILOT_STATUT]) VALUES (79, N'Maserati', 42, 1)
INSERT [dbo].[T_ILOT] ([ILOT_ID], [ILOT_NAME], [AREA_ID], [ILOT_STATUT]) VALUES (80, N'DV5RD', 3, 1)
SET IDENTITY_INSERT [dbo].[T_ILOT] OFF
GO
SET IDENTITY_INSERT [dbo].[T_INCIDENT_TYPE] ON 

INSERT [dbo].[T_INCIDENT_TYPE] ([INCIDENT_ID], [NAME]) VALUES (1, N'Très faible')
INSERT [dbo].[T_INCIDENT_TYPE] ([INCIDENT_ID], [NAME]) VALUES (2, N'Faible')
INSERT [dbo].[T_INCIDENT_TYPE] ([INCIDENT_ID], [NAME]) VALUES (3, N'Moyen')
SET IDENTITY_INSERT [dbo].[T_INCIDENT_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_MACHINE_TYPE] ON 

INSERT [dbo].[T_MACHINE_TYPE] ([MACHINE_TYPE_ID], [MACHINE_TYPE_NAME], [MACHINE_TYPE_STATUT]) VALUES (2, N'F', 1)
INSERT [dbo].[T_MACHINE_TYPE] ([MACHINE_TYPE_ID], [MACHINE_TYPE_NAME], [MACHINE_TYPE_STATUT]) VALUES (3, N'machine 3', 0)
INSERT [dbo].[T_MACHINE_TYPE] ([MACHINE_TYPE_ID], [MACHINE_TYPE_NAME], [MACHINE_TYPE_STATUT]) VALUES (4, N'777AAAA', 0)
SET IDENTITY_INSERT [dbo].[T_MACHINE_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_PICTURE] ON 

INSERT [dbo].[T_PICTURE] ([PICTURE_ID], [DS_ID], [PICTURE_NAME]) VALUES (24, 162, N'20d38fc2-c735-4f46-bdc1-2dc69050aa5a.jpeg')
INSERT [dbo].[T_PICTURE] ([PICTURE_ID], [DS_ID], [PICTURE_NAME]) VALUES (25, 162, N'4ee600e1-d694-4fa2-bc85-c66ce8ec2880.jpeg')
INSERT [dbo].[T_PICTURE] ([PICTURE_ID], [DS_ID], [PICTURE_NAME]) VALUES (26, 162, N'a103b174-b48b-409a-acff-efae00cef409.jpeg')
SET IDENTITY_INSERT [dbo].[T_PICTURE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ROLE] ON 

INSERT [dbo].[T_ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_DESC]) VALUES (2, N'Admin', N'Gestion des utilisateurs / zones / types machines')
INSERT [dbo].[T_ROLE] ([ROLE_ID], [ROLE_NAME], [ROLE_DESC]) VALUES (3, N'Responsable de zone', N'Gestion des actions de protection et de correction')
SET IDENTITY_INSERT [dbo].[T_ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_RULES_QNN] ON 

INSERT [dbo].[T_RULES_QNN] ([RULES_ID], [RULES_DESC], [DS_TYPE_ID], [RULES_STATUT]) VALUES (1, N'Lancement nouveaux projets', 2, 1)
INSERT [dbo].[T_RULES_QNN] ([RULES_ID], [RULES_DESC], [DS_TYPE_ID], [RULES_STATUT]) VALUES (2, N'OK 1ère pièce', 2, 1)
INSERT [dbo].[T_RULES_QNN] ([RULES_ID], [RULES_DESC], [DS_TYPE_ID], [RULES_STATUT]) VALUES (3, N'Auto controle et Arret au défaut', 2, 1)
SET IDENTITY_INSERT [dbo].[T_RULES_QNN] OFF
GO
SET IDENTITY_INSERT [dbo].[T_SAFETYCORNER] ON 

INSERT [dbo].[T_SAFETYCORNER] ([SAFETYCORNER_ID], [SAFETYCORNER_NAME], [SAFETYCORNER_STATUT]) VALUES (1, N'Safety Corner A1', 1)
INSERT [dbo].[T_SAFETYCORNER] ([SAFETYCORNER_ID], [SAFETYCORNER_NAME], [SAFETYCORNER_STATUT]) VALUES (2, N'SafetyCorner BE', 0)
INSERT [dbo].[T_SAFETYCORNER] ([SAFETYCORNER_ID], [SAFETYCORNER_NAME], [SAFETYCORNER_STATUT]) VALUES (4, N'scA1', 0)
SET IDENTITY_INSERT [dbo].[T_SAFETYCORNER] OFF
GO
SET IDENTITY_INSERT [dbo].[T_SERVICE] ON 

INSERT [dbo].[T_SERVICE] ([SERVICE_ID], [SERVICE_NAME], [DIV_ID]) VALUES (58, N'SERVICE 1', 4)
INSERT [dbo].[T_SERVICE] ([SERVICE_ID], [SERVICE_NAME], [DIV_ID]) VALUES (59, N'SERVICE 2', 5)
INSERT [dbo].[T_SERVICE] ([SERVICE_ID], [SERVICE_NAME], [DIV_ID]) VALUES (60, N'ATELIER R1', 5)
SET IDENTITY_INSERT [dbo].[T_SERVICE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_USER] ON 

INSERT [dbo].[T_USER] ([USER_ID], [MATRICULE], [MOx], [USER_STATUT], [SERVICE_ID], [NAME]) VALUES (11, N'2846', NULL, 1, 68, N'HEMRIT Mohamed Yassine')
INSERT [dbo].[T_USER] ([USER_ID], [MATRICULE], [MOx], [USER_STATUT], [SERVICE_ID], [NAME]) VALUES (12, N'1235', NULL, 1, 74, N'Touati Borhen')
INSERT [dbo].[T_USER] ([USER_ID], [MATRICULE], [MOx], [USER_STATUT], [SERVICE_ID], [NAME]) VALUES (13, N'1111', NULL, 0, 74, N'Chaouch Safa')
GO
SET IDENTITY_INSERT [dbo].[T_USER] OFF
GO
INSERT [dbo].[TJ_DS_CAUSES] ([tDSCAUSECAUSEID], [tDSDECLARATIONDSID]) VALUES (5, 152)
INSERT [dbo].[TJ_DS_CAUSES] ([tDSCAUSECAUSEID], [tDSDECLARATIONDSID]) VALUES (74, 152)
INSERT [dbo].[TJ_DS_CAUSES] ([tDSCAUSECAUSEID], [tDSDECLARATIONDSID]) VALUES (6, 153)
GO
INSERT [dbo].[TJ_DS_RULES] ([tRULESQNNRULESID], [tDSDECLARATIONDSID]) VALUES (1, 153)
INSERT [dbo].[TJ_DS_RULES] ([tRULESQNNRULESID], [tDSDECLARATIONDSID]) VALUES (1, 160)
INSERT [dbo].[TJ_DS_RULES] ([tRULESQNNRULESID], [tDSDECLARATIONDSID]) VALUES (1, 161)
GO
INSERT [dbo].[TJ_ILOT_TYPEMACHINE] ([tILOTILOTID], [tMACHINETYPEMACHINETYPEID]) VALUES (79, 2)
INSERT [dbo].[TJ_ILOT_TYPEMACHINE] ([tILOTILOTID], [tMACHINETYPEMACHINETYPEID]) VALUES (82, 2)
INSERT [dbo].[TJ_ILOT_TYPEMACHINE] ([tILOTILOTID], [tMACHINETYPEMACHINETYPEID]) VALUES (83, 2)
GO
INSERT [dbo].[TJ_USER_AREA] ([tAREAAREAID], [tUSERUSERID]) VALUES (1, 12)
INSERT [dbo].[TJ_USER_AREA] ([tAREAAREAID], [tUSERUSERID]) VALUES (4, 12)
INSERT [dbo].[TJ_USER_AREA] ([tAREAAREAID], [tUSERUSERID]) VALUES (3, 17)
GO
INSERT [dbo].[TJ_USER_ROLE] ([tROLEROLEID], [tUSERUSERID]) VALUES (2, 11)
INSERT [dbo].[TJ_USER_ROLE] ([tROLEROLEID], [tUSERUSERID]) VALUES (2, 12)
INSERT [dbo].[TJ_USER_ROLE] ([tROLEROLEID], [tUSERUSERID]) VALUES (2, 13)
GO
ALTER TABLE [dbo].[T_ACTION] ADD  CONSTRAINT [DF_a7720e7d99fe4c50840ed690909]  DEFAULT ((1)) FOR [DS_STATUS]
GO
ALTER TABLE [dbo].[T_ACTION] ADD  CONSTRAINT [DF_e99b8d6180540d3e608736d9cda]  DEFAULT ((0)) FOR [ISDONE]
GO
ALTER TABLE [dbo].[T_ACTION] ADD  CONSTRAINT [DF_ea9ed8e42f4812d9de59f353f08]  DEFAULT (getdate()) FOR [ACTION_DATE_CREATED]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] ADD  CONSTRAINT [DF_f30b671958b3c7e7872827d87d8]  DEFAULT (getdate()) FOR [DS_DATE]
GO
ALTER TABLE [dbo].[T_ACTION]  WITH CHECK ADD  CONSTRAINT [FK_a4a35695fb6c7f39703629ca5f3] FOREIGN KEY([DS_ID])
REFERENCES [dbo].[T_DS_DECLARATION] ([DS_ID])
GO
ALTER TABLE [dbo].[T_ACTION] CHECK CONSTRAINT [FK_a4a35695fb6c7f39703629ca5f3]
GO
ALTER TABLE [dbo].[T_AREA]  WITH NOCHECK ADD  CONSTRAINT [FK_744668086a3f8789d7c86c6ba85] FOREIGN KEY([DIV_ID])
REFERENCES [dbo].[T_DIVISION] ([DIV_ID])
GO
ALTER TABLE [dbo].[T_AREA] CHECK CONSTRAINT [FK_744668086a3f8789d7c86c6ba85]
GO
ALTER TABLE [dbo].[T_AREA]  WITH CHECK ADD  CONSTRAINT [FK_95ccfb3bc0ed179409d5cfe111a] FOREIGN KEY([SAFETYCORNER_ID])
REFERENCES [dbo].[T_SAFETYCORNER] ([SAFETYCORNER_ID])
GO
ALTER TABLE [dbo].[T_AREA] CHECK CONSTRAINT [FK_95ccfb3bc0ed179409d5cfe111a]
GO
ALTER TABLE [dbo].[T_COMMENT_SUGG]  WITH NOCHECK ADD  CONSTRAINT [FK_9c4f07430433d769498a0db28d5] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[T_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[T_COMMENT_SUGG] CHECK CONSTRAINT [FK_9c4f07430433d769498a0db28d5]
GO
ALTER TABLE [dbo].[T_COMMENT_SUGG]  WITH NOCHECK ADD  CONSTRAINT [FK_c46726262f54c09ac1ddffd633e] FOREIGN KEY([SUGG_ID])
REFERENCES [dbo].[T_SUGGESTION] ([SUGG_ID])
GO
ALTER TABLE [dbo].[T_COMMENT_SUGG] CHECK CONSTRAINT [FK_c46726262f54c09ac1ddffd633e]
GO
ALTER TABLE [dbo].[T_DIVISION]  WITH NOCHECK ADD  CONSTRAINT [FK_2fbc0736d96db902f96a470d45a] FOREIGN KEY([ACT_ID])
REFERENCES [dbo].[T_ACTIVITY] ([ACT_ID])
GO
ALTER TABLE [dbo].[T_DIVISION] CHECK CONSTRAINT [FK_2fbc0736d96db902f96a470d45a]
GO
ALTER TABLE [dbo].[T_DS_CAUSE]  WITH NOCHECK ADD  CONSTRAINT [FK_a894965a4096bd5dd8705281258] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[T_DS_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[T_DS_CAUSE] CHECK CONSTRAINT [FK_a894965a4096bd5dd8705281258]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_0beccfaa706973a96fc9ed79d35] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[T_AREA] ([AREA_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_0beccfaa706973a96fc9ed79d35]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_67b9d167a36a2632334e56b13ea] FOREIGN KEY([INCIDENT_ID])
REFERENCES [dbo].[T_INCIDENT_TYPE] ([INCIDENT_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_67b9d167a36a2632334e56b13ea]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_69bcb3533f21400cc0f90d8e423] FOREIGN KEY([MACHINE_TYPE_ID])
REFERENCES [dbo].[T_MACHINE_TYPE] ([MACHINE_TYPE_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_69bcb3533f21400cc0f90d8e423]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_8631e79f668901f2e12c82e3352] FOREIGN KEY([DS_STATUS])
REFERENCES [dbo].[T_DS_STATUS] ([DS_STATUS_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_8631e79f668901f2e12c82e3352]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_86762543cec2ca747fc1d5f46d7] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[T_DS_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_86762543cec2ca747fc1d5f46d7]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_8fa62aae6446df80088aec6d256] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[T_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_8fa62aae6446df80088aec6d256]
GO
ALTER TABLE [dbo].[T_DS_DECLARATION]  WITH CHECK ADD  CONSTRAINT [FK_d6a47eaac15ff1e71c1c16f2501] FOREIGN KEY([ILOT_ID])
REFERENCES [dbo].[T_ILOT] ([ILOT_ID])
GO
ALTER TABLE [dbo].[T_DS_DECLARATION] CHECK CONSTRAINT [FK_d6a47eaac15ff1e71c1c16f2501]
GO
ALTER TABLE [dbo].[T_ILOT]  WITH CHECK ADD  CONSTRAINT [FK_f999597e6ded42d23ebf48a1e10] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[T_AREA] ([AREA_ID])
GO
ALTER TABLE [dbo].[T_ILOT] CHECK CONSTRAINT [FK_f999597e6ded42d23ebf48a1e10]
GO
ALTER TABLE [dbo].[T_PICTURE]  WITH CHECK ADD  CONSTRAINT [FK_b4310f2fe3b04c46213acb92cdc] FOREIGN KEY([DS_ID])
REFERENCES [dbo].[T_DS_DECLARATION] ([DS_ID])
GO
ALTER TABLE [dbo].[T_PICTURE] CHECK CONSTRAINT [FK_b4310f2fe3b04c46213acb92cdc]
GO
ALTER TABLE [dbo].[T_RULES_QNN]  WITH NOCHECK ADD  CONSTRAINT [FK_28ed7bea686427a79cc17ac499d] FOREIGN KEY([DS_TYPE_ID])
REFERENCES [dbo].[T_DS_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[T_RULES_QNN] CHECK CONSTRAINT [FK_28ed7bea686427a79cc17ac499d]
GO
ALTER TABLE [dbo].[T_SERVICE]  WITH NOCHECK ADD  CONSTRAINT [FK_24b63d654ead0ee79fc5eef152a] FOREIGN KEY([DIV_ID])
REFERENCES [dbo].[T_DIVISION] ([DIV_ID])
GO
ALTER TABLE [dbo].[T_SERVICE] CHECK CONSTRAINT [FK_24b63d654ead0ee79fc5eef152a]
GO
ALTER TABLE [dbo].[T_SUGGESTION]  WITH NOCHECK ADD  CONSTRAINT [FK_233ed10e0702a52ae301a7a22bb] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[T_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[T_SUGGESTION] CHECK CONSTRAINT [FK_233ed10e0702a52ae301a7a22bb]
GO
ALTER TABLE [dbo].[T_USER]  WITH NOCHECK ADD  CONSTRAINT [FK_142612424d54b318d61bd55c89e] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[T_SERVICE] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[T_USER] CHECK CONSTRAINT [FK_142612424d54b318d61bd55c89e]
GO
ALTER TABLE [dbo].[TJ_DS_CAUSES]  WITH NOCHECK ADD  CONSTRAINT [FK_30c9cbe7db21cd6a359287e3dee] FOREIGN KEY([tDSCAUSECAUSEID])
REFERENCES [dbo].[T_DS_CAUSE] ([CAUSE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TJ_DS_CAUSES] CHECK CONSTRAINT [FK_30c9cbe7db21cd6a359287e3dee]
GO
ALTER TABLE [dbo].[TJ_DS_CAUSES]  WITH NOCHECK ADD  CONSTRAINT [FK_7bf583c8b826c882f6a4c52affb] FOREIGN KEY([tDSDECLARATIONDSID])
REFERENCES [dbo].[T_DS_DECLARATION] ([DS_ID])
GO
ALTER TABLE [dbo].[TJ_DS_CAUSES] CHECK CONSTRAINT [FK_7bf583c8b826c882f6a4c52affb]
GO
ALTER TABLE [dbo].[TJ_DS_RULES]  WITH NOCHECK ADD  CONSTRAINT [FK_3c2f2d671d0f2d65ce7b10e13ce] FOREIGN KEY([tDSDECLARATIONDSID])
REFERENCES [dbo].[T_DS_DECLARATION] ([DS_ID])
GO
ALTER TABLE [dbo].[TJ_DS_RULES] CHECK CONSTRAINT [FK_3c2f2d671d0f2d65ce7b10e13ce]
GO
ALTER TABLE [dbo].[TJ_DS_RULES]  WITH NOCHECK ADD  CONSTRAINT [FK_ac6f10729f639a7e45509fce295] FOREIGN KEY([tRULESQNNRULESID])
REFERENCES [dbo].[T_RULES_QNN] ([RULES_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TJ_DS_RULES] CHECK CONSTRAINT [FK_ac6f10729f639a7e45509fce295]
GO
ALTER TABLE [dbo].[TJ_ILOT_TYPEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_47d94cb9f7c00c1f413abad60cc] FOREIGN KEY([tMACHINETYPEMACHINETYPEID])
REFERENCES [dbo].[T_MACHINE_TYPE] ([MACHINE_TYPE_ID])
GO
ALTER TABLE [dbo].[TJ_ILOT_TYPEMACHINE] CHECK CONSTRAINT [FK_47d94cb9f7c00c1f413abad60cc]
GO
ALTER TABLE [dbo].[TJ_ILOT_TYPEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_f949c858ebeb4805b7c2d2fd19c] FOREIGN KEY([tILOTILOTID])
REFERENCES [dbo].[T_ILOT] ([ILOT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TJ_ILOT_TYPEMACHINE] CHECK CONSTRAINT [FK_f949c858ebeb4805b7c2d2fd19c]
GO
ALTER TABLE [dbo].[TJ_SUGG_TYPE]  WITH NOCHECK ADD  CONSTRAINT [FK_bfe4998c92fb94c30fa690d249a] FOREIGN KEY([tSUGGESTIONSUGGID])
REFERENCES [dbo].[T_SUGGESTION] ([SUGG_ID])
GO
ALTER TABLE [dbo].[TJ_SUGG_TYPE] CHECK CONSTRAINT [FK_bfe4998c92fb94c30fa690d249a]
GO
ALTER TABLE [dbo].[TJ_SUGG_TYPE]  WITH NOCHECK ADD  CONSTRAINT [FK_c96a1e74480d44fd347a90e422b] FOREIGN KEY([tCONTRIBUTIONTYPECONTID])
REFERENCES [dbo].[T_CONTRIBUTION_TYPE] ([CONT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TJ_SUGG_TYPE] CHECK CONSTRAINT [FK_c96a1e74480d44fd347a90e422b]
GO
ALTER TABLE [dbo].[TJ_USER_AREA]  WITH CHECK ADD  CONSTRAINT [FK_d08df6ad2010d472e4d05d59d8c] FOREIGN KEY([tUSERUSERID])
REFERENCES [dbo].[T_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[TJ_USER_AREA] CHECK CONSTRAINT [FK_d08df6ad2010d472e4d05d59d8c]
GO
ALTER TABLE [dbo].[TJ_USER_AREA]  WITH CHECK ADD  CONSTRAINT [FK_d1ad93394b3bd1d265f54bae2cd] FOREIGN KEY([tAREAAREAID])
REFERENCES [dbo].[T_AREA] ([AREA_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TJ_USER_AREA] CHECK CONSTRAINT [FK_d1ad93394b3bd1d265f54bae2cd]
GO
ALTER TABLE [dbo].[TJ_USER_ROLE]  WITH NOCHECK ADD  CONSTRAINT [FK_0233808b0b718caaedd7bf76f1f] FOREIGN KEY([tUSERUSERID])
REFERENCES [dbo].[T_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[TJ_USER_ROLE] CHECK CONSTRAINT [FK_0233808b0b718caaedd7bf76f1f]
GO
ALTER TABLE [dbo].[TJ_USER_ROLE]  WITH NOCHECK ADD  CONSTRAINT [FK_87771c4c9e4feb6aad9285d66d1] FOREIGN KEY([tROLEROLEID])
REFERENCES [dbo].[T_ROLE] ([ROLE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TJ_USER_ROLE] CHECK CONSTRAINT [FK_87771c4c9e4feb6aad9285d66d1]
GO
